* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    display : flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.logo-container,.nav-links,.cart{
    display: flex;
}
.logo-container{
    flex: 2;
}
.logo{
    font-weight:400 ;
    margin: 5px;
}
nav{
    flex:2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.profilephoto{
    flex: 1;
    justify-content: flex-end;
}
.presentation{
    margin:auto;
    width: 40%;
}
.intro-text{
    margin:auto;
    width: 40%;
    align-items: center;
}
.intro-text1{
    margin:auto;
    width: 35%;
    align-items: center;
}
.cover img{
    height: 50vh;

}
.link{
    width:50%;
    align-items:center;
}
